@font-face {
  font-family: 'Nirmala UI';
  src: url('../fonts/NirmalaUI.woff2') format('woff2'),
      url('../fonts/NirmalaUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nirmala UI';
  src: url('../fonts/NirmalaUI-Bold.woff2') format('woff2'),
      url('../fonts/NirmalaUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



